<div class="well-base">
  <select (change)="onChange($event.target.value)">
    <option value="">Filter by Age</option>
    <option value="under2Age">Young Animals</option>
    <option value="over2Age">Mature Animals</option>
    <option value="allAge">All Animals</option>
  </select>
</div>

<div *ngFor="let animal of childAnimalList | age:filterByAge">
  <div class="well-base">
    <h3><strong>{{animal.name}}</strong></h3>
    <p><strong>Species: </strong>{{animal.species}}</p>
    <p><strong>Age: </strong>{{animal.age}}</p>
    <p><strong>Diet: </strong>{{animal.diet}}</p>
    <p><strong>Location: </strong>{{animal.location}}</p>
    <p><strong>Caretakers: </strong>{{animal.caretakers}}</p>
    <p><strong>Sex: </strong>{{animal.sex}}</p>
    <p><strong>Likes: </strong>{{animal.likes}}</p>
    <p><strong>Dislikes: </strong>{{animal.dislikes}}</p>
    <br>
    <button (click)="editButtonHasBeenClicked(animal)">Edit {{animal.name}}</button>
  </div>                                              
</div>