<div *ngFor="let animal of childAnimalList">
  <div class="well-base">
    <h3><strong>{{animal.name}}</strong></h3>
    <p><strong>Species: </strong>{{animal.species}}</p>
    <p><strong>Age: </strong>{{animal.age}}</p>
    <p><strong>Diet: </strong>{{animal.diet}}</p>
    <p><strong>Location: </strong>{{animal.location}}</p>
    <p><strong>Caretakers: </strong>{{animal.caretakers}}</p>
    <p><strong>Sex: </strong>{{animal.sex}}</p>
    <p><strong>Likes: </strong>{{animal.likes}}</p>
    <p><strong>Dislikes: </strong>{{animal.dislikes}}</p>

    <button (click)="editButtonHasBeenClicked(currentAnimal)">Edit</button>
  </div>
  <hr>                                                                                                              
</div>
