<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="panel panel-default base">
          <div class="panel-heading">
            <h3 class="panel-title"><h1><b>Animal Kingdom Zoo</b></h1></h3>
          </div>
          <div class="panel-body">
            <app-animal-list [childAnimalList]="masterAnimalList" (clickSender)="editAnimal($event)"></app-animal-list>
            <app-edit-animal [childSelectedAnimal]="selectedAnimal"></app-edit-animal>
          </div>
        </div>      
    </div>
  </div>
</div>
