<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="panel panel-default base">
          <div class="panel-heading" id="header">
            <h3 class="panel-title"><h1><b>Animal Kingdom Zoo</b></h1></h3>
          </div>
          <div class="panel-body">
            <br>
            <div class="well-base" *ngIf="!addAnimalBool">
              <button 
                (click)="addAnimalButtonClicked()">Add Animal
              </button>
            </div>
            <app-add-animal 
              [addAnimalBool]="addAnimalBool"
              (animalSender)="addAnimalSender($event)">
            </app-add-animal>

            <app-edit-animal 
              [selectedAnimalChild]="selectedAnimal"
              (doneButtonClickedSender)="finishedEditing()">
              </app-edit-animal>

            <app-animal-list 
              [childAnimalList]="masterAnimalList" 
              (editClickSender)="editAnimal($event)">
            </app-animal-list>
            
          </div>
        </div>      
    </div>
  </div>
</div>
