<div class="well-base" *ngIf="addAnimalBool">
  <h3><b>Animal Details</b></h3>
  <br>
  <div>
    <label>Enter Animal Species:</label>
    <input #newSpecies>
  </div>
  <div>
    <label>Enter Animal Name:</label>
    <input #newName>
  </div>
  <div>
    <label>Enter Animal Age:</label>
    <input #newAge>
  </div>
  <div>
    <label>Enter Animal Diet:</label>
    <input #newDiet>
  </div>
  <div>
    <label>Enter Animal Location:</label>
    <input #newLocation>
  </div>
  <div>
    <label>Enter Animal Caretakers:</label>
    <input #newCaretakers>
  </div>
  <div>
    <label>Enter Animal Sex:</label>
    <input #newSex>
  </div>
  <div>
    <label>Enter Animal Likes:</label>
    <input #newLikes>
  </div>
  <div>
    <label>Enter Animal Dislikes:</label>
    <input #newDislikes>
  </div>
  <br>
  <div>
    <button (click)="submitForm(
      newSpecies.value,
      newName.value,
      newAge.value,
      newDiet.value,
      newLocation.value,
      newCaretakers.value,
      newSex.value,
      newLikes.value,
      newDislikes.value)">
    Add Animal</button>
  </div>
</div>